@model WebBanDienThoaiResponsive.Models.Banner

<div class="justify-content-center">
    <a href="@Model.LinkTo">
        <img class="w-100" src="~/Content/Images/@Model.ImageURL" alt="@Model.BannerName" />
    </a>
</div>