
@{
    ViewBag.Title = "AccountConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4><b>THÔNG TIN TÀI KHOẢN</b></h4>
    <div class="row">
        <div class="col-md-3">
            <div class="rounded border border-gray" style="border-radius: 15px !important;">
                <div class="d-flex">
                    <div class="col-md-3 ml-md-3">
                        <i class="fal fa-home" style="font-size: 28px;"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 class="font-weight-bold text-light" style="font-size: 20px;">Trang chủ</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-3 ml-md-3">
                        <i class="fal fa-key" style="font-size: 28px;"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 style="font-size: 20px;">Lịch sử đặt hàng</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-3 ml-md-3">
                        <i class="fal fa-user-circle" style="font-size: 28px;"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 style="font-size: 20px;">Đổi mật khẩu</h6>
                    </div>
                </div>
                <div class="d-flex rounded border border-gray bg-danger" style="border-radius: 15px !important;">
                    <div class="col-md-3 ml-md-3  p-md-3">
                        <i class="fal fa-history text-light" style="font-size: 28px;"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 style="font-size: 20px;">Quản lý thông tin</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-3 ml-md-3">
                        <i class="fal fa-sign-out-alt" style="font-size: 28px;"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 style="font-size: 20px;">Đăng xuất</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            a
        </div>
    </div>
</div>